@model GloboTicket.Client.Models.Api.Event
<tr>
    <td>
        <img class="artistPic" src="@Model.ImageUrl" alt="Artist pic" />
    </td>
    <td>
        @Model.Date
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Artist
    </td>
    <td>
        $@Model.Price
    </td>
    <td>
        <a asp-action="Detail" asp-route-eventId="@Model.EventId">Details and buy!</a>
    </td>
</tr>