@model GloboTicket.Client.Models.Api.Event
<tr>
    <td>
        <img class="artistPic" src="@Model.ImageUrl" alt="Artist pic" />
    </td>
    <td>
        @Model.Date
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Artist
    </td>
    <td class="bold">
        $@Model.Price
    </td>
    <td>
        <a class="btn-primary" type="button" asp-action="Detail" asp-route-eventId="@Model.EventId">PURCHASE DETAILS</a>
    </td>
</tr>