@model GloboTicket.Client.Models.Api.Event
<div class="row">
    <div class="col">
        <img src="@Model.ImageUrl" alt="Artist pic" />
    </div>
    <div class="col">
        <div class="row">
            <h2>@Model.Artist - @Model.Name</h2>
        </div>
        <div class="row mt-3">
            <h4>@Model.Date.ToShortDateString()</h4>
        </div>
        <div class="row mt-5">
            @Model.Description
        </div>
        <div class="row mt-5">
            <div class="col">
                Category: @Model.CategoryName
            </div>
            <div class="col">
                Price: $@Model.Price
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col offset-6">
        <form class="form" asp-action="AddToBasket" asp-controller="ShoppingBasket">
            <div class="form-group">
                <label for="notickets">Enter number of tickets:</label>
                <input name="numberOfTickets" class="form-control" id="notickets" type="number" value="2" />
                <input name="eventId" type="hidden" value="@Model.EventId" />
            </div>
            <button type="submit" class="btn btn-primary">Order</button>
        </form>
    </div>
</div>
